<!--
  Generated template for the IssueDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom color="primary">
    <ion-title>{{selectedItem.payload.val().report}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
<div *ngIf="selectedItem">
    <ion-card>
        <ion-item>   
          
            <ion-slides pager class="slid" no-padding>

                <ion-slide>
                    <img class="img" src={{selectedItem.payload.val().leadimg}}/>
                </ion-slide>
                <ion-slide >
                    <img class="img" src={{selectedItem.payload.val().captureDataUrl2}}/>
                </ion-slide>
                <ion-slide >
                    <img class="img" src={{selectedItem.payload.val().captureDataUrl3}}/>
                </ion-slide>
                <ion-slide >
                    <img class="img" src={{selectedItem.payload.val().captureDataUrl4}}/>
                </ion-slide>
            </ion-slides>

          
            
          <h2 [innerHTML]="selectedItem.payload.val().headline"></h2>
          <h4>
              {{selectedItem.payload.val().issuedate | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
         <p text-wrap [innerHTML]="selectedItem.payload.val().story"></p>
         Author: <p [innerHTML]="selectedItem.payload.val().author"></p>
               </ion-item>
      </ion-card>

    </div>

    <ion-list   *ngFor="let item of shopListOpenAsync | async">
        <ion-grid>  
          <ion-row>
           <ion-col>
            <ion-item>
         
          <h4>{{item.payload.val().timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
          <p text-wrap>{{item.payload.val().report}}</p>
          <p text-wrap>Updated by: {{item.payload.val().owner}}</p>
          <p>Status: {{item.payload.val().status}}</p>
              
         
          <textarea rows="5" maxLength="500" [(ngModel)]="item.payload.val().comment"></textarea>
        
        </ion-item>
        </ion-col>
    </ion-row>
      </ion-grid>  
    </ion-list>
</ion-content>
